MONGO_URI = "mongodb://localhost:27017/"
MONGO_DB ="user_auth_db"
EMAIL = "Enter your email here"
EMAIL_PASSWORD = "Enter your google app password here"
CLOUDINARY_API_KEY = "Enter your cloudinary api key here"
CLOUDINARY_API_SECRET = "Enter your cloudinary api secret here"
CLUDINARY_CLOUD_NAME = "Enter your cloudinary cloud name here"