<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
    <link rel="stylesheet" href="static/css/registration_page.css">
</head>
<body>
    <h2>Registration Form</h2>
    <form id="user-registration">
        
        <label>Full Name</label>
        <input type="text" name="full_name" placeholder="Enter full name" required>

        <label>Email</label>
        <input type="email" name="email" placeholder="Enter email address" required>

        <label>Phone Number</label>
        <input type="tel" name="phone_number" placeholder="Enter phone number" required>

        <label>Date of Birth</label>
        <input type="date" name="date_of_birth" placeholder="Select your DOB" required>

        <label>Password</label>
        <input type="text" name="password" placeholder="Enter password" required>

        <span class="passwordError" style="color: #ffb300;">&nbsp;</span>

        <button type="submit">Register</button>

    </form>

    <script src="static/js/registration.js"></script>
</body>

</html>